<form class="pure-form">
    <fieldset>
        <legend>Add Feed</legend>
        <input id="feed-url" type="text" placeholder="Feed URL">
        <button type="submit" class="pure-button notice">Add feed</button>
    </fieldset>
</form>
