<div class="feeditem-content">
    <div class="feeditem-content-body pure-u-1">
        <p>
            <blockquote>
                We should bear in mind that, in general, it is the object of
                our newspapers rather to create a sensation - to make a point
                - than to further the cause of truth.
                —<strong>Edgar Allan Poe</strong>, <em>The Mystery of Marie
                Roget</em>
            </blockquote>
        <p>
        <p>
            No feeds left. You'll have to find sensation and/or truth
            elsewhere.
        </p>
    </div>
</div>
