{% load tag_extras %}
<a href="#nav" class="nav-menu-button">Menu</a>

<div class="nav-inner">
    <a class="pure-button primary-button" id="add-feed-btn" href="#">Add feed</a>

    <div class="pure-menu pure-menu-open">
        <ul>
            <li>
                <a href="#all" class="all">
                    All feeds
                {% if unread_count %}
                    <span class="feed-count">({{unread_count}})</span>
                {% endif %}
                </a>
            </li>
            {% comment %}
            <li><a href="#/starred">Starred</a></li>
            <li><a href="#/shared">Shared with me</a></li>
            {% endcomment %}

            <li class="pure-menu-heading">Tags</li>
            {% for tag in tags %}
            {% tag_unread_count %}
            <li class="tag">
                <a href="#/tag/{{tag.name}}">
                    <span class="clippable">{{tag.name}}</span>
                {% if unread_count %}
                    <span class="feed-count">({{ unread_count }})</span>
                {% endif %}
                </a>
            </li>
            {% feeds_for_tag as feeds %}
            {% for feed in feeds %}
            <li class="feed" data-feed="{{feed.id}}">
                <a href="#/feed/{{feed.id}}">
                    <span class="clippable">
                    {% if feed.feed.title %}
                        {{ feed.feed.title }}
                    {% else %}
                        {{ feed.feed.link }}
                    {% endif %}
                    </span>
                {% if feed.unread_count %}
                    <span class="feed-count">({{ feed.unread_count }})</span>
                {% endif %}
                </a>
            </li>
            {% endfor %}
            {% endfor %}
            <li>
                <a href="" class="tag">
                    (Untagged)
                {% if untagged_unread_count %}
                    <span class="feed-count">({{ untagged_unread_count }})</span>
                {% endif %}
                </a>
            </li>
            {% for feed in untagged_feeds %}
            <li class="feed" data-feed="{{feed.id}}">
                <a href="#/feed/{{feed.id}}">
                    <span class="clippable">
                    {% if feed.feed.title %}
                        {{ feed.feed.title }}
                    {% else %}
                        {{ feed.feed.link }}
                    {% endif %}
                    </span>
                {% if feed.unread_count %}
                    <span class="feed-count">({{ feed.unread_count }})</span>
                {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
