{% load handlebars %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ReadRaven : Evermore</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/reader.css' %}">
    </head>

    <body>
        <div class="pure-g-r content" id="layout">
            <div class="pure-u" id="left-side"></div>
            <div class="pure-u" id="strong-side">
                <div id="feed-manage"></div>
                <div id="account-manage"></div>
                <div id="feeditem-list"></div>
            </div>
        </div>

    </body>
    {% load_handlebars_template raven/feed-item-list.handlebars feed-item-list %}
    {% load_handlebars_template raven/feed-item.handlebars feed-item %}
    {% load_handlebars_template raven/feed-item-empty.handlebars feed-item-empty %}
    {% load_handlebars_template raven/account-manage.handlebars account-manage-template %}
    {% load_handlebars_template raven/add-feed-modal.handlebars add-feed-modal %}

    <script>window.CSRFTOKEN = '{{csrf_token}}';</script>
    <script src="{% static 'js/handlebars-1.0.0-rc.3.js' %}"></script>
    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'js/underscore.js' %}"></script>
    <script src="{% static 'js/backbone.js' %}"></script>
    <script src="{% static 'js/backbone-tastypie.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>

    <script src="{% static 'js/reader/models.js' %}"></script>
    <script src="{% static 'js/reader/views.js' %}"></script>
    <script src="{% static 'js/reader/app.js' %}"></script>
</html>
