{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Readraven : the forever reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link media="screen" rel="stylesheet" href="{% static 'css/values.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body id="index">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="span6 offset2">
            <h1>Our Values</h1>
          </div>
        </div>
        <div class="row">
          <div class="span6 offset2">

	  <p>Reading habits are intimate. We will never sell or share
	  information about you to anyone. <b>Ever.</b></p>

	  <p>Web startups are fickle. We are building for us, for you, and
	  forever. We will never sell to anyone else. Period.</p>

	  <p>Your time is precious, and curating feeds is expensive. We
	  strongly believe in open data and data portability and will never
	  lock you in.</p>

	  <p>We plan to charge $5 per month for as long as we can. We think
	  it's a fair, sustainable price that will allow us to build a clean,
	  crisp product for you, forever.
	  <br><br>
	  </p>
	  <center><h2>* * *</h2></center>
	  <h3>Why are you doing this?</h3>

	  <p>The shuttering of Google Reader was as painful for us as it was
	  for everyone else. When we took a look around at the alternatives,
	  we didn't really find <i>exactly</i> what we wanted. So we sketched
	  out a plan to build something based on our values, which include
	  user privacy, longevity, and fairness.</p>

	  <p>We are dismayed by the increasing number of sites who make money
	  by selling data about their users for the sake of advertising. In
	  today's world <b>your data is you</b>, and the thought of being
	  packaged, sliced, diced, and sold to 3rd parties is nauseating.</p>

	  <p>As well, it's difficult to figure out which sites to trust with
	  investment of <b>your most precious resources: time and
	  attention.</b> Sites that grow fast and cash out squander this
	  resource for everyone and it's heartbreaking.</p>

	  <p>We're building to avoid that problem and invite you to join
	  us.</p>

	  <br>

	  <h3>Who are you?</h3>

	  <p>Alex Chiang and Paul Hummer met at Canonical, the sponsors of
	  Ubuntu. We both believe strongly in building software for human
	  beings, and the demise of Google Reader was a great opportunity to
	  create something for users, not advertisers.</p>

	  <br>

	  <h3>Why are you charging money?</h3>

	  <p>There are many free, great RSS readers in the market today if
	  you're not interested in paying for Readraven.</p>

	  <p>Our promise is that if you
	  <a href="{% url 'usher.views.sign_up' %}">sign up for Readraven</a>,
	  we will keep this site alive for as long as humanly possible to
	  protect your investment of time, which is far more valuable than
	  money. We never sell to anyone else and we'll provide a safe haven
	  on an internet that is ever attempting to track your personal habits
	  to monetize them.</p>

	  <br>

	  <h3>What happens if I stop paying?</h3>

	  <p>We believe in data portability and we will provide you a full
	  export of all your data. We'll also keep your data around for a
	  little while to make it convenient in case you decide to come back,
	  or an expunge option where we'll make sure we wipe everything about
	  you from our servers, forever.</p>

	  <p>If you are ever unhappy with Readraven, please email
	  <a href="help@readraven.com">help@readraven.com</a> and we
	  will provide an immediate, no questions asked refund.</p>

	  <br>

	  <h3>What's your roadmap?</h3>

	  <p>Our biggest goal between now and July 1 is to build a perfect
	  importer for Google Reader data. We think it's already pretty good,
	  but if you find any issues, please email us at <a
	  href="mailto:help@readraven.com">help@readraven.com</a>.</p>

	  <p>After July 1, we plan on re-implementing the best parts of Reader
	  such as sharing, commenting, and the like. We also have quite a
	  number of ideas to add features that Reader never had. Building a
	  paid site gives us freedom to build things that sites with other
	  business models would never allow.</p>

	  <br>
	  <center><h2>* * *</h2></center>
          <h1>Welcome to Readraven</h1>
          <br>
          <a href="{% url 'usher.views.sign_up' %}"><button class="btn btn-large btn-primary" type="button">Start a free trial through July 4</button></a>
          &nbsp; or &nbsp;
          <a href="{% url 'raven.views.home' %}"><b>login</b></a>

          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>
