boto==2.9.3
celery==3.0.18
Django==1.5.1
django-celery==3.0.11
django-secure==0.1.2
django-storages==1.1.8
django-tastypie==0.9.14
django-taggit==0.10a1
feedparser==5.1.3
google-api-python-client==1.1
gunicorn==0.17.2
mock==1.0.1
newrelic
opml==0.5
psycopg2==2.5
South==0.8.1
Unipath==1.0
http://chizang.net/libgreader/libgreader-0.7.2.tar.gz
git+git://github.com/achiang/django-stripe-payments
