body {
    color: #271D25;
}
a {
    text-decoration: none;
    color: #DF4E53
}

/* LAYOUT CSS */
#layout {
    padding-left:250px; /* "left col (nav + list)" width */
    position: relative;
}

#left-side {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin-left:-250px; /* "left col (nav + list)" width */
    width:250px;
    background: rgb(39,29,37);
    text-align: center;
    padding: 2em 0;
}

#strong-side {
    width: 100%;
}

/* HELPER CLASSES */
div.modal {
    background-color: white;
    z-index: 10;
    height: 100px;
    width: 300px;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 5px;
    margin-left: -150px; /* 1/2 the width */
    margin-top: -50px; /* 1/2 the height */
}

a.primary-button, a.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.primary-button {
    color: #fff;
    background: #DF4E53;
    margin: 1em 0;
}
a.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}



/* Vertical Navigation Styles */
#left-side .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #left-side span.label {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    #left-side .tag span.label.closed,
    #left-side .tag span.label.open {
        background-image: url(../img/feedlistsprites.png);
    }
    #left-side .tag span.label.closed {
        background-position: 0px 0px;
    }
    #left-side .tag span.label.open {
        background-position: -15px 0px;
    }
    #left-side .clippable {
        display: inline-block;
        max-width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    #left-side .pure-menu a:hover {
        background: rgb(218, 111, 116);
    }
    #left-side .pure-menu a {
        color: rgb(211, 212, 217);
        margin-left: 0.5em;
    }
    #left-side .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(193,192,193);
    }

    #left-side .nav-menu-button {
        display: none;
    }

    #left-side .feed-count {
        color: rgb(193,192,193);
    }

/* Feed Content Styles */
.feeditem-content {
    border: 2px solid #ddd;
    margin: 20px;
}
.feeditem-content.selected {
    border: 2px solid #888;
}
.feeditem-content-header, .feeditem-content-body, .feeditem-content-footer {
    padding: 1em 2em;
}
    .feeditem-content-header {
        border-bottom: 1px solid #ddd;
    }

        .feeditem-content-title {
            margin: 0.5em 0 0;
        }
            .feeditem-content-title a {
                color: #271D25;
            }
        .feeditem-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
        .feeditem-content-meta {
            color: #999;
            text-align: right;
        }
    .feeditem-content-footer {
    }
        .feeditem-meta {
            margin-top: 2.3em;
        }
            .feeditem-meta a {
                margin-top: -0.3em;
                margin-left: 1em;
                color: #333;
                display: inline-block;
                padding: 3px 5px;
                border: 1px solid #888;
                background-color: #eee;
                border-radius: 3px;
            }
        .feeditem-content-controls {
            margin-top: 2em;
            text-align: right;
        }
            .feeditem-content-controls .secondary-button {
                margin-bottom: 0.3em;
            }


@media (max-width: 867px) {

    #strong-side {
        width: auto;
    }
    #layout {
        padding-left: -250px;
    }
    #strong-side {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 250px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
}

@media (max-width: 480px) {
    #layout, #left-side, #list, #strong-side {
        position: static;
        margin: 0;
        padding: 0;
    }
    #left-side {
        width: 100%;
        height: 40px;
        position: relative;
    }
    #left-side .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    #left-side.active {
        height: 80%;
    }
    .nav-inner {
        display: none;
    }
    #left-side.active .nav-inner {
        display: block;
    }
}
