/*
@font-face {
    font-family: 'Special Elite';
    src: url(../font/SpecialElite.ttf),
         url('https://s3.amazonaws.com/readraven/static/font/SpecialElite.ttf');
}
*/

/*
 * Global styles
 */
body {
    font-family: 'Open Sans';
}

body h1, h2, h3 {
    font-family: 'Crimson Text';
}

/*
 * raven/index
 */
body#index {
    background: url(../img/shelf.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-size: 16px;
    font-weight: 300;
}
    body#index div.page-wrapper {
        position: static;
        left: -2px;
        top: 0px;
        background-color: rgba(240,240,240,0.35);
        margin-top: 5%;
        padding: 50px 40px;

        body#index div.page-wrapper div.container-fluid {
            padding-right: 20px;
            padding-left: 20px;
        }
    body#index ul {
        list-style-type: none;
    }
    body#index div.googleauth {
        margin-top: 105px;
    }
    body#index a.googleauth {
        display: inline-block;
        height: 54px;
        width: 246px;
        background: url(../img/googleauth_base.png) no-repeat left top;
    }
    body#index a.googleauth:hover {
        background: url(../img/googleauth_hover.png) no-repeat left top;
    }
    body#index a.googleauth:active {
        background: url(../img/googleauth_press.png) no-repeat left top;
    }
    body#dashboard div.help {
        display: none;
    }
    body#dashboard div.help img {
        position: absolute;
    }
.css-treeview ul, .css-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input {
    position: absolute;
    opacity: 0;
}

.css-treeview {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview a {
    color: #00f;
    text-decoration: none;
}

.css-treeview a:hover {
    text-decoration: underline;
}

.css-treeview input + label + ul {
    margin: 0 0 0 22px;
}

.css-treeview input ~ ul {
    display: none;
}

.css-treeview label, .css-treeview label::before {
    cursor: pointer;
}

.css-treeview input:disabled + label {
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul {
    display: block;
}

/*.css-treeview label,*/
.css-treeview label::before {
    background: url(../img/icons.png) no-repeat;
}

.css-treeview label, .css-treeview a, .css-treeview label::before {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

/*
.css-treeview label {
    background-position: 18px 0;
}
*/

.css-treeview label::before {
    content: "";
    width: 16px;
    /*margin: 0 22px 0 0;*/
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input:checked + label::before {
    background-position: 0 -16px;
}

.css-treeview li.untagged {
    margin-left: 16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        } to {
            padding: 0;
        }
    }
}
