{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Read Raven : Nevermore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link media="screen" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>
