{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>The House of Usher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link media="screen" rel="stylesheet" href="{% static 'css/usher.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body id="index">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="span6 offset1">
            <h1>Welcome back</h1>
            <p>We're glad you're here.</p>
            <div class="googleauth">
              <a class="googleauth button" href="{% url 'usher.views.google_auth' %}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>
