{% load handlebars %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ReadRaven : dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap-fileupload.css' %}" rel="stylesheet">
  </head>
  <body id="dashboard">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><b>ReadRaven</b></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            <a href="{% url 'usher.views.dashboard' %}">{{ user.email }}</a> | <a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>
            </p>
            {% comment %}
            <ul class="nav">
              <li><a href="{% url 'raven.views.home' %}">Home</a></li>
            </ul>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <!-- CONTENT TEMPLATES -->
    <script type="text/x-handlebars" id="account">
    <div>
     <b>PAYMENT INFO</b><br>
       {% comment %}
       {% if user.customer.current_subscription.status == "trialing" %}
         <p><i>Enjoy ReadRaven for free until {{ user.customer.current_subscription.trial_end|date:"F d, Y" }}</i></p>
       {% endif %}
       {% endcomment %}
       {% if user.customer.card_kind %}
       <p>We have your <b>{{ user.customer.card_kind }}</b> ending in
       <b>{{ user.customer.card_last_4 }}</b> in our files.</p>
       {% else %}
       <p>We don't have a credit card for you on file.</p>
       {% endif %}
       <br>
       <p>ReadRaven is currently free until we're worthy of your money.
       When we're good enough, we will ask for your credit card and charge
       you $5 per month.</p>
       <p>Read about our <a href="{% url 'raven.views.values' %}">values</a>.</p>
    </div>
    </script>

    <script type="text/x-handlebars" id="import">
    <div>
     <b>IMPORT FROM READER</b><br>
     <p>Upload your Google Takeout zip file to import and preserve all
     your historical Google Reader data. You can upload your Takeout as
     many times as you like, but we will only save the last one.</p>

     {% if last_upload %}
        <p>You uploaded <b>{{zipfile}}</b> on <b>{{ last_upload|date:"F d, Y" }}</b></p>
     {% endif %}
     <br>
     <form action="/usher/import_takeout" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <div class="fileupload fileupload-new" data-provides="fileupload">
       <div class="input-append">
         <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input name="zipfile" type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
       </div>
     </div>
     <button type="submit" class="btn btn-success">Import!</button>
     </form>
    <br>
    <div>
      <a href="#" id="togglehelp">Help! How do I find my Google Takeout file?</a>
      <div class="help">
      <hr>
      <p>Simple! Get your file from
      <a href="https://www.google.com/takeout/" target="_blank">google.com/takeout</a></p>
      <p>Select "Choose services" and then select the "Reader" option. Complete
      the takeout process and download the resulting zip file. When you're done,
      come back and upload it to ReadRaven. Whee!</p>
      <br>
      <img src="{% static 'img/takeout.png' %}">
      </div>
    </div>
    </div>
    <br>
    </script>

    {% comment %}
    <script type="text/x-handlebars" id="help">
    </script>
    {% endcomment %}

    <div class="container">
      <div id="main" class="row-fluid">
        <div class="span3 column">
          <!-- Nav Bar -->
          <ul class="nav nav-pills nav-stacked" id="nav-item-container"></ul>
        </div>

        <div class="span5 column" id="content"></div>
      </div>
    </div>
  </body>

  <script src="{% static 'js/handlebars-1.0.0-rc.3.js' %}"></script>
  <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/underscore.js' %}"></script>
  <script src="{% static 'js/backbone.js' %}"></script>

  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/bootstrap-fileupload.js' %}"></script>
  <script type="text/javascript">
      $('.fileupload').fileupload({uploadtype: 'file'});
  </script>
</html>
