{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Read Raven : Usher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link media="screen" rel="stylesheet" href="{% static 'css/usher.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  </head>
  <body id="index">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="span8">
            <h1>join us</h1>
            <p>Read Raven sign up is fast and easy.</p>
            <p>
             <ol>
              <li>allow us to import your existing Google Reader account
              <li>give us your credit card number
              <li>that's it!
             </ol>
            </p>
            <p>Let's get started...</p>
          </div>
          <div class="span3">
            <div class="googleauth">
              <a class="googleauth button" href="{% url 'usher.views.index' %}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>
