{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>The House of Usher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link media="screen" rel="stylesheet" href="{% static 'css/usher2.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_XPlbtK7un2pVFbRfLUjBPS3U');

    var stripeResponseHandler = function(status, response) {
        var $form = $('#signup-form');

        if (response.error) {
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            var token = response.id;
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            $form.get(0).submit();
        }
    };
    jQuery(function($) {
        $('#signup-form').submit(function(e) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);
            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });
  </script>
  </head>
  <body id="index">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="span6 offset1">
            <h1>Almost done!</h1>
            <p>Our squirrels are importing your Google Reader feeds as we speak.</p>
	    <p><b>Why are you charging money?</b></p>

	    <p>Your most precious resources are your time and attention. By
	    paying for Readraven, you are signing up for a service that is
	    built to last and built to protect your privacy.</p>

	    <p><a href="{%url 'raven.views.values' %}"><b>Read more about our values »</b></a></p>
          </div>
	<!--
	</div>
	<div class="row">
	-->
          <div class="span6 offset1">
          <h1>&nbsp;</h1>
          <form action="/usher/sign_up" method="post" id="signup-form" class="well">
            {% csrf_token %}
            <span class="payment-errors"></span>

	    <div class="controls controls-row">
	       <div class="control-group">
	         <label>Card Number</label>
                 <input class="span4" type="text" data-stripe="number"/>
	       </div>
	       <div class="control-group">
	         <label>CVC</label>
                 <input class="span1" type="text" data-stripe="cvc"/>
	       </div>
            </div>

            <div class="controls controls-row">
	      <div class="control-group">
		<label>Month (MM)</label>
                <input class="span2" type="text" data-stripe="exp-month"/>
	      </div>
	      <div class="control-group">
		<label>Year (YYYY)</label>
                <input class="span3" type="text" data-stripe="exp-year"/>
	      </div>
            </div>

	    <div class="controls">
            <button type="submit" class="btn btn-primary btn-large">Start my free trial</button>
	    </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>
