{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>ReadRaven : sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="screen" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link media="screen" rel="stylesheet" href="{% static 'css/usher2.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    Stripe.setPublishableKey('pk_live_2Co75W4fBC9IWkvP8r8ELP61');

    var stripeResponseHandler = function(status, response) {
        var $form = $('#signup-form');

        if (response.error) {
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            var token = response.id;
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            $form.get(0).submit();
        }
    };
    jQuery(function($) {
        $('#signup-form').submit(function(e) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);
            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });
  </script>
  </head>
  <body id="index">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="span6 offset1">
            <h1>Almost done!</h1>
            <p>Our squirrels are importing your Google Reader feeds as we speak.</p>
            <p><b>Why do you need my credit card?</b></p>

            <p>ReadRaven is free during our beta period, which will last until
            we are no longer embarrassed with our feature set and the slowness
            of our site. And right now, we know we've got a ways to go.</p>

            <p>But just as we are making a long-term commitment to you,
            we're asking for a small bit of reciprocity, letting us know you
            share our values and long-term vision.</p>

            <p>Your most precious resources are your time and attention.
            ReadRaven is designed to preserve them for you, forever.</p>

            <p><a href="{%url 'raven.views.values' %}"><b>Read more about our values »</b></a></p>
            <br>
            <p>Or <a href="{% url 'django.contrib.auth.views.logout' %}">log out</a></p>

          </div>

          <div class="span6 offset1">
          <h1>&nbsp;</h1>
          <form action="/usher/sign_up" method="post" id="signup-form" class="well well-small">
            {% csrf_token %}
            <span class="payment-errors"></span>

            <div class="controls controls-row">
               <div class="control-group">
                 <input class="span4" placeholder="Card Number" type="text" data-stripe="number"/>
               </div>
               <div class="control-group">
                 <input class="span1" placeholder="CVC" type="text" data-stripe="cvc"/>
               </div>
            </div>

            <div class="controls controls-row">
              <div class="control-group">
                <input class="span2" placeholder="Month (MM)" type="text" data-stripe="exp-month"/>
              </div>
              <div class="control-group">
                <input class="span3" placeholder="Year (YYYY)" type="text" data-stripe="exp-year"/>
              </div>
            </div>

            <div class="controls">
            <button type="submit" class="btn btn-primary btn-large">Start your free trial</button>

            <br>
            <br>

            <label>ReadRaven is free until we are worthy of your money. When
            our beta period is over, we'll start billing you $5 per month.
            We'll give you plenty of warning, and cancelling will be easy
            if you're not delighted with us.</label>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>
